<div class="w-full h-screen flex flex-col justify-center gap-2">
      <!-- Titulo Principal -->
      <a href="/">
          <h1 class="text-2xl sm:text-4xl lg:text-9xl font-black uppercase leading-tight tracking-tight drop-shadow-2xl drop-shadow-black hover:text-white transition-colors duration-500 hover:cursor-none ">Lazy Loading</h1>
      </a>

  
      <!-- Informacion / Updates  -->
      <span class="text-xs font-bold uppercase leading-tight tracking-tight">
          <p>Ultima Modificacion - 4/05/2025</p>
          <a href="https://github.com/RayeRayeRaye">
              <p>Modificado por - Raye</p>
          </a>
      </span>
  </div>