<div class="w-full h-screen flex flex-col justify-center  gap-2">
    <div class="w-full h-auto flex flex-col gap-2">
        <!-- Titulo Principal -->
        <h1 class="text-2xl sm:text-4xl lg:text-9xl font-black uppercase leading-tight tracking-tight drop-shadow-2xl drop-shadow-black hover:text-white transition-colors duration-500 hover:cursor-none ">Frontend Web Angular</h1>
        
        <!-- Tecnologias usadas -->
        <div class="w-full hidden lg:flex flex-row text-white">
            <div class="w-32 sm:w-60 border h-10  flex  px-4 items-center bg-black hover:bg-white hover:text-black hover:border-black transition-all duration-500 hover:cursor-pointer">
                <p class="text-xs sm:text-sm font-black uppercase leading-tight tracking-tight">Angular {{ angularVersion }}</p>
            </div>
            <div class="w-32 sm:w-40 border h-10  flex  px-4 items-center bg-black hover:bg-white hover:text-black hover:border-black transition-all duration-500 hover:cursor-pointer">
                <p class="text-xs sm:text-sm font-black uppercase leading-tight tracking-tight">Typescript  </p>
            </div>
            <div class="w-32 sm:w-40 border h-10  flex  px-4 items-center bg-black hover:bg-white hover:text-black hover:border-black transition-all duration-500 hover:cursor-pointer">
                <p class="text-xs sm:text-sm font-black uppercase leading-tight tracking-tight">TailwindCss</p>
            </div>
        </div>
        
        <!-- Informacion / Updates  -->
        <span class="text-xs font-bold uppercase leading-tight tracking-tight">
            <p>Ultima Modificacion - 4/05/2025</p>
            <a href="https://github.com/RayeRayeRaye">
                <p>Modificado por - Raye</p>
            </a>
        </span>
    </div>
</div>
