<div class="w-full h-auto flex flex-col justify-center">
    <span class="text-xs sm:text-sm font-black uppercase leading-tight tracking-tight">
        <p>Software development - Contact</p>
    </span>
    <ul class="w-full flex flex-row gap-2 text-xs font-bold uppercase leading-tight tracking-tight">
        <li>
            <a href="https://github.com/RayeRayeRaye">
                <p>Github</p>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/dempserayo/">
                <p>Instagram</p>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/j4imes/">
                <p>Linkedin</p>
            </a>
        </li>
    </ul>
</div>